name: Building, Testing and Packaging

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create build directory
        run: |
          mkdir ${{github.workspace}}/devops/usr/devops/build

      - name: Run Makefile
        run: |
          cd ${{github.workspace}}/devops/usr/devops
          make
      
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: ${{github.workspace}}/devops/usr/devops/build


  test:
    runs-on: ubuntu-latest
    needs: build
    outputs:
      status: ${{ steps.test.outputs.status }}
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: ${{github.workspace}}/build

      - name: Mark test as executable
        run: chmod +x ${{github.workspace}}/build/Test
  
      - name: Run test
        id: test
        run: |
          cd ${{github.workspace}}/build
          ./Test
          if [ $? -eq 0 ]; then
            echo "status=SUCCESS" >> $GITHUB_OUTPUT
          else
            echo "status=FAILURE" >> $GITHUB_OUTPUT
            exit 1
          fi

  packaging:
    permissions: write-all
    runs-on: ubuntu-latest
    needs: test  
    if: needs.test.outputs.status == 'SUCCESS'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create .deb package
        run: |
          dpkg-deb --build ${{github.workspace}}/devops

      - name: Upload .deb package
        uses: actions/upload-artifact@v4
        with:
          name: deb-package
          path: ${{github.workspace}}/devops.deb
          
      - name: Create and Upload Release 
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v1.0.0
          name: Release v1.0.0
          body: Automated release
          prerelease: false
          files: |
            ${{github.workspace}}/devops.deb
  deploy:
    runs-on: ubuntu-latest
    needs: packaging
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_LOGIN }}/devops:latest
            ${{ secrets.DOCKER_LOGIN }}/devops:${{ github.sha }}
    