name: Building, Testing and Packaging

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.test.outputs.status }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create build directory
        run: |
          mkdir ${{github.workspace}}/devops/usr/devops/build

      - name: Run Makefile
        run: |
          cd ${{github.workspace}}/devops/usr/devops
          make

      - name: Mark test as executable
        run: chmod +x ${{github.workspace}}/devops/usr/devops/build/Test

      - name: Run test
        id: test
        run: |
          cd ${{github.workspace}}/devops/usr/devops/build
          ./Test
          if [ $? -eq 0 ]; then
            echo "status=SUCCESS" >> $GITHUB_OUTPUT
          else
            echo "status=FAILURE" >> $GITHUB_OUTPUT
            exit 1
          fi

  packaging:
    runs-on: ubuntu-latest
    needs: build-and-test  
    if: needs.build-and-test.outputs.status == 'SUCCESS'
    steps:
      - name: Create .deb package
        run: |
          dpkg-deb --build ${{github.workspace}}/devops

      - name: Upload .deb package
        uses: actions/upload-artifact@v4
        with:
          name: deb-package
          path: ${{github.workspace}}/devops.deb
          
      - name: Create and Upload Release 
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        with:
          tag_name: v1.0.0
          name: Release v1.0.0
          body: Automated release
          prerelease: false
          overwrite: true 
          files: |
            ${{github.workspace}}/devops.deb
      